<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goodies</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Welcome to Goodies!</h1>
    </header>
    
    <div class ="confirmation">
        <div class="conf21">
            <div class="confQ21">Are you 21 years or older?</div>
                <div class="buttons21">
                    {{!-- {{#if olderThan21}}  --}}
                    <button class="buttonY" type="button"><a href="/login">Hell yeah, show me deez nugs</a></button>
                    {{!-- {{else}}      --}}
                    <button class="buttonN" type="button"><a href="https://savvygardening.com/tomato-growing-secrets/">No I am not 21</a></button>
                    
                    {{!-- {{/if}} --}}
                </div>
        </div>
    </div>
    <main class ="container container-fluid mt-5">
        {{{ body }}}
    </main>
    {{!-- {{#if olderThan21}}
    <script src="../../public/js/login.js"></script>
    {{/if}} --}}
</body>

</html>
