<!DOCTYPE html>
<html>
<title>GoodDeez</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- w3 schoools style sheet --}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{{!-- google fonts (other fonts) style sheets --}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--Our style sheet DO NOT DELETE-->
<link rel="stylesheet" href="/css/style.css">

{{!-- jquery script --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/verify-age.js"></script>

<body class="w3-content" style="max-width:1200px">
      {{!-- age verification --}}
    {{!-- <div class="modal" tabindex="-1" role="dialog" id="alert-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Wait a second...are you at least 21 years old?</h5>
          </div>
          <div class="modal-body">
            <p>Please be completely honest with us as our business depends upon getting an A in the class!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="of-age" data-dismiss="modal">I am 21!</button>
            <button type="button" class="btn btn-secondary" id="not-of-age" data-dismiss="modal">I am not 21!</button>
          </div>
        </div>
      </div>
    </div> --}}

<!-- Sidebar/menu -->

<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><a href="/" id="home-link"><b>Welcome to GoodDeez!</b></a></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="/homepage" class="w3-bar-item w3-button">Home</a>
    <a href="/products" class="w3-bar-item w3-button">Products</a>
    <a href="/profile" class="w3-bar-item w3-button">Profile</a>
    <a href="/signup" class="w3-bar-item w3-button">Signup</a>


    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="#" class="w3-bar-item w3-button w3-padding">Contact</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
    <a href="#"  class="w3-bar-item w3-button w3-padding">Subscribe</a>



  </div>
  
  
</nav>


<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">GoodDeez</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">GoodDeez Delivery Service</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <!-- Image header -->
  {{!-- <main class="w3-display-container w3-container"> --}}
  <div class="slideshow-container">
      {{!-- <main class="w3-display-container w3-container"></main> --}}
              <!-- Full-width images with number and caption text -->
              <div class="mySlides">
                <img src="../../images/outdoor-weed-growing.jpg" alt="Jeans" style="width:100%">
              </div>
              <div class="mySlides">
                <img src="../../images/istockphoto-1151078965-612x612.jpg" alt="Jeans" style="width:100%">
              </div>
              <div class="mySlides">
                <img src="../../images/hq-cannabis-photo.jpg" alt="Jeans" style="width:100%">
              </div>
              <div class="mySlides">
                <img src="../../images/wd.webp" alt="Jeans" style="width:100%">
              </div>
      {{!-- </main> --}}
  </div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>




  {{!-- <main class="w3-display-container w3-container">
    <img src="../../images/outdoor-weed-growing.jpg" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft" style="padding:24px 48px">
      <p><a href="/products" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>

  </main>--}}




  <!-- Product grid -->

  {{{body}}}

  <!-- Subscribe section -->
  <div class="w3-container w3-black w3-padding-32">
    <h1>Subscribe</h1>
    <p>To get special offers and VIP treatment:</p>
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
    <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
  </div>
  
  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>Contact</h4>
        <p>Questions? Go ahead.</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
          <button type="submit" class="w3-button w3-block w3-black">Send</button>
        </form>
      </div>

      <div class="w3-col s4">
        <h4>About</h4>
        <p><a href="/aboutus">About us</a></p>
        <p><a href="#">We're hiring</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Shipment</a></p>
        <p><a href="#">Payment</a></p>
        <p><a href="#">Gift card</a></p>
        <p><a href="#">Return</a></p>
        <p><a href="#">Help</a></p>
      </div>

      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i>deezNUGS LLC</p>
        <p><i class="fa fa-fw fa-envelope"></i><a href="mailto:name@email.com">info@deeznugs.com</a></p>
        <h4>We accept</h4>
        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
        <br>
        <a href= "https://www.facebook.com/Iloveweeed420/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></a></i>
        <a href= "https://www.instagram.com/deez_nugz_/?hl=en" target="_blank"><i class="fa fa-instagram w3-hover-opacity w3-large"></a></i>
        <a href= "https://www.snapchat.com/" target="_blank"><i class="fa fa-snapchat w3-hover-opacity w3-large"></a></i>
        <a href= "https://www.pinterest.com/marijuana/_saved/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity w3-large"></a></i>
        <a href= "https://twitter.com/hashtag/weed" target="_blank"><i class="fa fa-twitter w3-hover-opacity w3-large"></a></i>
        <a href= "https://www.linkedin.com/jobs/cannabis-jobs/"><i class="fa fa-linkedin w3-hover-opacity w3-large"></a></i>
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">deezNUGS LLC</div>

  <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

    <script src='/js/cart.js'></script>
    <script src="/js/verify-age.js"></script>
    <script src='/js/display-products.js'></script>
    <script src='/js/signup.js'></script>
    <script src='/js/verify-pw.js'></script>
    <script src='/js/login.js'></script>

</body>
</html>
