<style>
.parallax {
  /* The image used */
  background-image: url("../images/growing-marijuana.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax" style="text-align: center; color: white">
    <h1 class="about-text" style="font-weight: 900;"><em>We are extremely passionate about the healing capabilities of cannabis. Our mission is to provide cannabis to anyone that seeks benefit from it.</em></h1> 
<br>
<br>
<br>
    <h1 class="about-text" style="font-weight: 900;"><em>Every distributor we partner with grows and manufactures with sustainability in mind.</em></h1>

</div>