<div class="jumbotron jumbotron-fluid">
  <div class="container" id="contact-thanks">
    <h1 class="display-4">Thanks for reaching out to us!</h1>
    <p class="lead">Thanks for reaching out to deezNUGS LLC! We will be getting back to you shortly! Remember to take a break to smell the trees!</p>
  </div>
</div>