<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="address-login">address:</label>
    <input class="form-input" type="address" id="address-login" />
  </div>
  <div class="form-group">
    <label for="dob-login">Date Of Birth:</label>
    <input class="form-input" type="integer" id="password-login" />
  </div>
  <div class="form-group">
    <label for="password-login">:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
