<!--login form card -->
  <div class="loginCard">
    <h2>Login</h2>
    <form class="form loginForm">
      <div class="formGroup">
        <label for="emailLogin">Email:</label>
        <input class="formInput" type="text" id="emailLogin"/>
      </div>
      <div class="formGroup">
        <label for="passwordLogin">Password:</label>
        <input class="formInput" type="password" id="passwordLogin"/>
      </div>
      <div class"formGroup">
        <label for="userType">Select User Type: </label>
        <select id="userType" name="userChoice" form="userForm">
          <option value="buyer">Consumer</option>
          <option value="delivery">Delivery Driver</option>
        </select>
      </div>  
      <div class="formGroup">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

<!--sign up form card-->
<div class="loginCard"> 
<form class="form signinForm">
  <div class="formGroup">
    <label for="nameSignup">Name:</label>
    <input class="formInput" type="text" id="nameSignup"/>
  </div>  
  <div class="formGroup">
    <label for="emailSignup">email:</label>
    <input class="formInput" type="text" id="emailSignup"/>
  </div>

  <div class="formGroup">
    <label for="adrSignup">address:</label>
    <input id="autoAddress" placeholder="Enter your address" onFocus="geolocate()" type="text" class="formGroup">
      <div id="address">
        <div class="row">
          <div class="col-md-6">
            <label class="controlGroup">Street address</label>
            <input class="formInput" id="streetNumber" disabled="true">
          </div>
          <div class="col-md-6">
            <label class="controlGroup">Street Name</label>
            <input class="formInput" id="streetName" disabled="true">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="controlGroup">City</label>
            <input class="formInput" id="city" disabled="true">
          </div>
          <div class="col-md-6"> 
            <label class="controlGroup">State</label>
            <input class="formInput" id="state" disabled="true">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="controlGroup">Zip code</label>
            <input class="formInput" id="postalCode" disabled="true">
          </div>
          <div class="col-md-6">
            <label class="controlGroup">Country</label>
            <input class="formInput" id="country" disabled="true">
          </div>
        </div>
      </div>
  </div>

  <div class="formGroup">
    <label for="dobSignup">Date Of Birth:</label>
    <input class="formInput" type="date" id="dobSignup"/>
  </div>
  <div class="formGroup">
    <label for="phoneSignup">Phone Number:</label>
    <input class="formInput" type="tel" id="phoneSignup"/>
  </div>
  <div class="formGroup">
    <label for="passwordSignup">Password:</label>
    <input class="formInput" type="password" id="passwordSignup"/>
  </div>
  <div class="formGroup">
    <label for="usrTypSignup">Select User Type: </label>
    <select id="usrTypSignup" name="userChoice" form="userForm">
        <option value="Buyer">Consumer</option>
        <option value="Delivery">Delivery Driver</option>
    </select>
  </div>  
  <div class="formGroup">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
</div>

<script src="/js/login.js"></script>
<script src="auto-complete.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script async defer src="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=500&types=food&name=harbour&key=AIzaSyCOA80ghIgx9XunoqHP_zz3c7D2ZeksG74&callback=initMap"
  type="text/javascript"></script>
