  <div class="login-card">
    <h2>Login</h2>
    <form class="form loginForm">
      <div class="formGroup">
        <label for="emailLogin" id="emailTitle">Email:</label>
        <input class="formInput" type="text" id="emailLogin"/>
      </div>
      <div class="formGroup">
        <label for="passwordLogin" id="passwordTitle">Password:</label>
        <input class="formInput" type="password" id="passwordLogin"/>
      </div>
      <div class="formGroup">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>