<h1 id="product-name"></h1>
<section id="thc-content"></section>
<div id="cbd-content"></div>
<div id="product-price"></div>
<div id="product-weight"></div>
<div id="brand"></div>
<div id="producer"></div>


<script src="../public/js/display-products.js"></script>