<!--sign up form card-->

<div class="signup-form"> 
    <form class="form">
        <div class="formGroup">
                <label for="userType">User: </label>
            <select id="userType" name="userChoice" form="userForm">
                <option value="Buyer">Consumer</option>
                <option value="Delivery">Delivery Driver</option>
            </select>
        </div>  
        <div class="formGroup">
            <label for="emailSignup">Email:</label>
            <input class="formInput" type="text" id="emailSignup"/>
        </div>
        <div class="formGroup">
            <label for="passwordSignup">Choose Password:</label>
            <input class="formInput" type="password" id="passwordSignup"/>
        </div>
        <div class="formGroup">
            <label for="verifyPassword">Confirm Password:</label>
            <input class="formInput" type="password" id="verifyPassword"/>
        </div>
        <div class="formGroup">
            <label for="nameSignup">Name:</label>
            <input class="formInput" type="text" id="nameSignup"/>
        </div>  
        <div class="formGroup">
            <label for="dobSignup">Date Of Birth:</label>
            <input class="formInput" type="date" id="dobSignup"/>
        </div>
        <div class="formGroup">
            <label for="phoneSignup">Phone Number:</label>
            <input class="formInput" type="tel" id="phoneSignup"/>
        </div>


    <div id="locationField">
		<input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
	</div>

	<table id="address" class="w3-table-all">
		<tr>
			<td class="label">Street address</td>
			<td class="slimField"><input class="field" id="street_number" disabled="true"></input>
			</td>
			<td class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input>
			</td>
		</tr>
		<tr>
        <td class="label">City</td>
			<td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input>
			</td>
		</tr>
		<tr>
			<td class="label">State</td>
			<td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input>
			</td>
			<td class="label">Zip code</td>
			<td class="wideField"><input class="field" id="postal_code" disabled="true"></input>
			</td>
		</tr>
		<tr>
			<td class="label">Country</td>
			<td class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input>
			</td>
		</tr>
	</table>

    <div class="formGroup">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

