<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/js/login.js"></script>
<script src="js/auto-complete.js"></script>


<!--sign up form card-->
<div class="signup-form"> 
    <form class="form">
        <div class="formGroup">
                <label for="userType">Select User Type: </label>
            <select id="userType" name="userChoice" form="userForm">
                <option value="Buyer">Consumer</option>
                <option value="Delivery">Delivery Driver</option>
            </select>
        </div>  
        <div class="formGroup">
            <label for="emailSignup">Email:</label>
            <input class="formInput" type="text" id="emailSignup"/>
        </div>
        <div class="formGroup">
            <label for="passwordSignup">Choose Password:</label>
            <input class="formInput" type="password" id="passwordSignup"/>
        </div>
        <div class="formGroup">
            <label for="verifyPassword">Confirm Password:</label>
            <input class="formInput" type="password" id="verifyPassword"/>
        </div>
        <div class="formGroup">
            <label for="nameSignup">Name:</label>
            <input class="formInput" type="text" id="nameSignup"/>
        </div>  
        <div class="formGroup">
            <label for="dobSignup">Date Of Birth:</label>
            <input class="formInput" type="date" id="dobSignup"/>
        </div>
        <div class="formGroup">
            <label for="phoneSignup">Phone Number:</label>
            <input class="formInput" type="tel" id="phoneSignup"/>
        </div>



    <form id="address-form" action="" method="get" autocomplete="off">
        <label class="full-field">
            <span class="form-label">User address:</span>
                <input
                    id="useraddress"
                    name="useraddress"
                    autocomplete="off"
                />
        </label>

        <label class="full-field">
            <span class="form-label">Apartment, unit, suite, or floor #</span>
            <input id="addrsNum" name="addrrsNum" />
        </label>
        <label class="full-field">
            <span class="form-label">City</span>
            <input id="city" name="city"/>
        </label>
        <label class="slim-field-left">
            <span class="form-label">State</span>
            <input id="state" name="state"/>
        </label>
        <label class="slim-field-right" for="postal_code">
            <span class="form-label">Zip code</span>
            <input id="zipcode" name="zipcode"/>
        </label>
     </form>


        {{!-- <div class="formGroup">
            <div id="address">
                <div class="row">
                    <div class="col-md-6">
                        <label class="controlGroup">Street address</label>
                        <input class="formInput" id="street_number">
                    </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <label class="controlGroup">City</label>
                    <input class="formInput" id="city">
                </div>
                <div class="col-md-6"> 
                    <label class="controlGroup">State</label>
                    <input class="formInput" id="state">
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="controlGroup">Zip code</label>
                        <input class="formInput" id="postal_code">
                    </div>
                    <div class="col-md-6">
                        <label class="controlGroup">Country</label>
                        <input class="formInput" id="country">
                    </div>
                </div>
            </div>
        </div>
    <div class="formGroup">

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div> --}}
</div>


{{!-- <script src="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=500&types=food&name=harbour&key=AIzaSyCOA80ghIgx9XunoqHP_zz3c7D2ZeksG74&callback=initMap"
  type="text/javascript"></script> --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOA80ghIgx9XunoqHP_zz3c7D2ZeksG74&libraries=places">
