<!--sign up form card-->

<div class="signup-form"> 
    <form class="form">
        <table id="address" class="form">
            
            <label for="emailSignup"></label>
            <input class="formInput" type="text" id="emailSignup" placeholder="Email"/>
            
            <label for="passwordSignup"></label>
            <input class="formInput" type="password" id="passwordSignup" placeholder="Password"/>
      
            <label for="verifyPassword"></label>
            <input class="formInput" type="password" id="verifyPassword" placeholder="Verify Password"/>
     
            <label for="nameSignup"></label>
            <input class="formInput" type="text" id="nameSignup" placeholder="Enter Name"/>
        
            <label for="dobSignup"></label>
            <input class="formInput" type="date" id="dobSignup" placeholder="Enter Date of Birth"/>
       
            <label for="phoneSignup"></label>
            <input class="formInput" type="tel" id="phoneSignup" placeholder="Enter Phone Number"/>
        </table>

    {{!-- this is where the autofill api is --}}
    <div id="locationField">
		<input id="autocomplete" placeholder="Address" onFocus="geolocate()" type="text"></input>
	</div>

	<table id="address" class="form">
		<tr>
			<td class="label">Street address</td>
			<td class="slimField"><input class="field" id="street_number" disabled="true"></input>
			</td>
			<td class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input>
			</td>
		</tr>
		<tr>
        <td class="label">City</td>
			<td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input>
			</td>
		</tr>
		<tr>
			<td class="label">State</td>
			<td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input>
			</td>
			<td class="label">Zip code</td>
			<td class="wideField"><input class="field" id="postal_code" disabled="true"></input>
			</td>
		</tr>
		<tr>
			<td class="label">Country</td>
			<td class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input>
			</td>
		</tr>
	</table>

    <div class="formGroup">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

<script src="./js/signup.js"></script>

