<div class="slideshow-container">
    <div class="mySlides">
        <img src="../../images/outdoor-weed-growing.jpg" alt="Jeans" style="width:100%">
    </div>
    <div class="mySlides">
        <img src="../../images/istockphoto-1151078965-612x612.jpg" alt="Jeans" style="width:100%">
    </div>
    <div class="mySlides">
        <img src="../../images/hq-cannabis-photo.jpg" alt="Jeans" style="width:100%">
    </div>
    <div class="mySlides">
        <img src="../../images/wd.webp" alt="Jeans" style="width:100%">
    </div>
</div>