body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  
}

.conifirmation {
    background-color: #fff;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.conf21 {
    padding: 40px 45px 5px;
}

.confQ21 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 18px;
    color: black;
    outline: none;
    font-weight: 500;
}

.buttons21 {
    width: 100%;
    display: flex;
    flex-direction: column
}

.buttonY {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.buttonN{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
  
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    
  }
  
  .conifirmation {
      background-color: #fff;
      border-radius: 8px;
      max-width: 400px;
      width: 100%;
      overflow: hidden;
  }
  
  .conf21 {
      padding: 40px 45px 5px;
  }
  
  .confQ21 {
      text-align: center;
      font-size: 21px;
      margin-bottom: 18px;
      color: black;
      outline: none;
      font-weight: 500;
  }
  
  .buttons21 {
      width: 100%;
      display: flex;
      flex-direction: column
  }
  
  .buttonY {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      text-decoration: none;
      text-align: center;
  }
  
  .buttonN{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      text-decoration: none;
      text-align: center;
    
  }

  

.w3-sidebar a {
    font-family: "Roboto", sans-serif
}
body,h1,h2,h3,h4,h5,h6,.w3-wide {
    font-family: "Montserrat", sans-serif;
}


  
  /* --------------------------------------------------------BEG NAV BAR ---------------------------------------------------------------------- */
  #main-title {
      text-align: center;
      
  }
  
  #main-nav {
      background-color: rgba(150, 255, 150, 1);
      text-align: center;
      padding: 1em;
  }
  
  a {
      margin: 0 auto;
      color: black;
  }
  
  a:hover {
      text-decoration: none;
      list-style: none;
      color: black;
      text-shadow: 1px 1px 1px rgb(150 255 100), 1px 1px 1px black;
  
  }

  
  /* --------------------------------------------------------END NAV BAR ---------------------------------------------------------------------- */
  
  /* --------------------------------------------------------BEG FOOTER ---------------------------------------------------------------------- */
  
  #footer-bg {
      background-color: rgba(160, 255, 160, 1);
      padding: 1em;
      text-align: center;
  }
  
  #footer-text {
      color: black;
      font-family: monospace;
      text-shadow: 1px 1px 1px rgb(150 255 100), 1px 1px 1px black;
  }
  
  
  /* --------------------------------------------------------END FOOTER ---------------------------------------------------------------------- */
  

/* --------------------------------------------------------BEG PRODUCT CARDS---------------------------------------------------------------- */

#product-cards {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
/* --------------------------------------------------------END PRODUCT CARDS---------------------------------------------------------------- */
/* --------------------------------------------------------AGE VERIFY---------------------------------------------------------------- */
.modal {
    z-index: 99;
    max-width: 500px;
    max-height: 200px;
    background-color: white;
}

.modal-header {
    background-color: white;
    border: 1px solid black;
}

.modal-title {
    background-color:  rgba(140, 149, 90, 1);
    padding: .25em;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

.modal-body {
    border: 1px solid black;
}

.modal-body p {
    background-color: rgba(140, 199, 90, 1);
    padding: 1em;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 700;
    text-align: center;
    color: black;
    box-shadow: 1px 1px 1px black;
}

#honesty-button {
    background-color: grey;
    font-family: 'DotGothic16', sans-serif;
    border-radius: 20px;
    margin: 5px 0;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    color: black;
}
#honesty-button:hover {
    background-color: rgba(0, 255, 0, 1);
    border: 2px solid green;
    color: black;
    box-shadow: 0px 5px 5px black;
    color: white;
    text-shadow: 1px 1px 6px black;
}

.modal-footer {
    background-color: white;
    border: 1px solid black;
}

  
